.page{
    max-width: 1440px;
    min-height: 680px;
    background-image: url(../../images/back.png);
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}