@import url(./__button/cards__button.css);

.cards__ask{
    height: 15px;
    margin-top: 14px;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFF;
    display: flex;
}